
<!DOCTYPE html>
<html lang="en">
    <head>
        
    </head>
    <body class="top-navbar-fixed">
        

<div class="left-sidebar bg-black-300 box-shadow ">
                        <div class="sidebar-content">
                            <div class="user-info closed">
                                <img src="http://placehold.it/90/D2D2D2?text=<%-fullname.charAt(0).toUpperCase()%>" alt="Micah Jessel Peña" class="img-circle profile-img">
                                <h6 class="title"><%-fullname%></h6>
                                <small class="info">Administrator</small>
                            </div>
                            <!-- /.user-info -->

                            <div class="sidebar-nav">
                                <ul class="side-nav color-gray">
                                    

                                    <li class="nav-header">
                                        <span class="">Appearance</span>
                                    </li>
                                    <li class="has-children">
                                        <a href="#"><i class="fa fa-car"></i> <span>Vehicles</span> <i class="fa fa-angle-right arrow"></i></a>
                                        <ul class="child-nav">
                                            <li><a href="/admin/landing"><i class="fa fa-bars"></i> <span>Manage Vehicle</span></a></li>
                                            <li><a href="/admin/add-new-vehicle"><i class="fa fa fa-server"></i> <span>Add New </span></a></li>

                                        </ul>
                                    </li>
  <li class="has-children">
                                        <a href="#"><i class="fa fa-file-text"></i> <span>Vehicles & Owner</span> <i class="fa fa-angle-right arrow"></i></a>
                                        <ul class="child-nav">
                                            <li><a href="/admin/view-owner"><i class="fa fa-bars"></i> <span>View Information</span></a></li>
                                            
                                           <a href="/admin/add-owner-vehicle-info"><i class="fa fa-newspaper-o"></i> <span>Add New</span></a></li>
                                        </ul>
                                    </li>
   <li class="has-children">
                                        
                                    </li>
                                    <li class="has-children">
                                        
                                        <li><a id="logout" href="/"><i class="fa fa fa-server"></i> <span>Logout</span></a></li>

                                    </li>
                            </div>
                            <!-- /.sidebar-nav -->
                        </div>
                        <!-- /.sidebar-content -->
                    </div>

    </body>
</html>
        <script src="../js/jquery/jquery-2.2.4.min.js"></script>
        <script src="../js/jquery-ui/jquery-ui.min.js"></script>
        <script src="../js/bootstrap/bootstrap.min.js"></script>
        <script src="../js/pace/pace.min.js"></script>
        <script src="../js/lobipanel/lobipanel.min.js"></script>
        <script src="../js/iscroll/iscroll.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>