<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <script src="https://unpkg.com/vue"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>NEDA</title>
  </head>
  <body>
      
        
        
          <div class="jumbotron myBg text-center jumbotron-fluid">
          <div class="container">
           
          </div>
        </div>
        

        <div class="container-fluid">
          <div class="my-header">
            <%include ../partials/header.ejs%>
          </div>


         
            <form autocomplete=off>
            <div class="col-sm-6">
             
                <div class="form-group myBox2">
                  <label for="exampleInputEmail1">Username</label>
                  <input type="text" id='username' class="form-control" aria-describedby="emailHelp">
                </div>


                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" id='password' class="form-control">
                </div>
              

                <button type="submit" class="btn btn-primary">Login</button>
              
            </div>
            </form>
            

            

        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  </body>
</html>


<script type="text/javascript">


 
        $('document').ready(function(){

        

          $('form').submit(function(){

            var user = $('form #username').val();
            var pass = $('#password').val();
            $.post('/auth_login',{
              email: user,
              password: pass
            });
            alert('Press Enter to Verify')
            location.reload();
            return false;
            
          });
        });
         


</script>

<style type="text/css">
  .myBorder{
    border:1px solid black;
  }

  .myBg{
    background-image:url('../assets/ambisyon.png');
    width:auto;
    background-size:cover;
    height:300px;
    background-position:center;
  }

  .myBox{
    float:right;
  }


  </style>


